Repository anotherback/anotherback, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, src, types, package, github, wip, md

.github/labeler.yml:

cli:
  - "cli/**/*"

src:
  - "src/**/*"

types:
  - "types/**/*"

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "README.md"
  - "CODEOFCONDUCT.md"
  - "CONTRIBUTING.md"

[md] update link model
  CONTRIBUTING.md
Labels: wip, md

[md] update link model (#36)
  CONTRIBUTING.md
Labels: wip, md

[feat] add env file
  cli/bin/lib/initDir.js
  cli/directories.js
  cli/models/.env
  package-lock.json
  package.json
  src/index.js
  src/lib/ctx.js
  src/lib/env.js
  types/cli/directories.d.ts
  types/src/index.d.ts
  types/src/lib/ctx.d.ts
  types/src/lib/env.d.ts
Labels: cli, src, types, package, wip

[feat] add env file (#37)
  cli/bin/lib/initDir.js
  cli/directories.js
  cli/models/.env
  package-lock.json
  package.json
  src/index.js
  src/lib/ctx.js
  src/lib/env.js
  types/cli/directories.d.ts
  types/src/index.d.ts
  types/src/lib/ctx.d.ts
  types/src/lib/env.d.ts
Labels: cli, src, types, package, wip

[feat] add debug mode
  .eslintrc.json
  cli/bin/lib/launch/register.js
  cli/bin/lib/spawn.js
  cli/models/aob.config.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug.js
  src/lib/route.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[feat] add debug mode (#54)
  .eslintrc.json
  cli/bin/lib/launch/register.js
  cli/bin/lib/spawn.js
  cli/models/aob.config.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug.js
  src/lib/route.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[feat] add debug mode (#54)
  .eslintrc.json
  cli/bin/lib/launch/register.js
  cli/bin/lib/spawn.js
  cli/models/aob.config.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug.js
  src/lib/route.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[github] fix get version
  .github/getVersion/main.js
Labels: github, wip

[github] fix get version (#56)
  .github/getVersion/main.js
Labels: github, wip

[github] fix get version 2
  .github/getVersion/main.js
Labels: github, wip

[github] fix get version 2 (#57)
  .github/getVersion/main.js
Labels: github, wip

[github] fix action rename
  .github/workflows/rename-pr-title-main.yml
Labels: github, wip

[github] fix get version 2 (#59)
  .github/workflows/rename-pr-title-main.yml
Labels: github, wip

[github] fix page get pr name
  .github/getVersion/main.js
Labels: github, wip

update
  .github/getVersion/main.js
Labels: github, wip

[github]fix get version 3 (#60)
  .github/getVersion/main.js
Labels: github, wip

[fix] async function
  src/lib/debug.js
Labels: src, wip

[fix] async function (#61)
  src/lib/debug.js
Labels: src, wip

[feat] update sender
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/sender.js
Labels: src, wip

[feat] update sender (#62)
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/sender.js
Labels: src, wip

[fix] context to method
  src/lib/anotherback.js
  src/lib/ctx.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[fix] context to method (#63)
  src/lib/anotherback.js
  src/lib/ctx.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[publish] 2.5.6 (#58)
  .github/getVersion/main.js
  .github/workflows/rename-pr-title-main.yml
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug.js
  src/lib/sender.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: src, types, github, wip

[fix] debug
  src/lib/debug.js
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[fix] debug (#66)
  src/lib/debug.js
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[publish] 2.5.7 (#67)
  src/lib/debug.js
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[fix] directive debuger
  src/lib/debug.js
Labels: src, wip

[fix] ctx method
  src/lib/ctx.js
Labels: src, wip

[fix] default template method
  cli/models/method.js
Labels: cli, wip

[fix] ignore register prefix to route parameter
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: src, types, wip

[fix] default template method (#74)
  cli/models/method.js
Labels: cli, wip

[feat] multi checker and method in one file
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/models/checker.js
  cli/models/method.js
Labels: cli, wip

[feat] multi checker and method in one file (#76)
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/models/checker.js
  cli/models/method.js
Labels: cli, wip

[fix] ignore register prefix to route parameter (#75)
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: src, types, wip

[fix] ctx method (#73)
  src/lib/ctx.js
Labels: src, wip

[fix] directive debuger (#72)
  src/lib/debug.js
Labels: src, wip

[feat] add handler error
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/error.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/models/error.js
  src/lib/anotherback.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[feat] add handler error (#77)
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/error.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/models/error.js
  src/lib/anotherback.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[publish] 2.7.11 (#78)
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/error.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/models/checker.js
  cli/models/error.js
  cli/models/method.js
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[feat] schema
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/schema.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/schema.js
  cli/models/schema.js
  package-lock.json
  package.json
  src/index.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  src/lib/schema.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/schema.d.ts
  types/src/index.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip
