Repository anotherback/anotherback, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, src, types, package, github, wip, md

[feat] schema (#80)
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/schema.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/schema.js
  cli/models/schema.js
  package-lock.json
  package.json
  src/index.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  src/lib/schema.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/schema.d.ts
  types/src/index.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[publish] 2.8.11 (#81)
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/schema.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/schema.js
  cli/models/schema.js
  package-lock.json
  package.json
  src/index.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  src/lib/schema.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/schema.d.ts
  types/src/index.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[fix] correct miss take
  cli/bin/lib/spawn.js
Labels: cli, wip

[fix] correct miss take (#82)
  cli/bin/lib/spawn.js
Labels: cli, wip

[publish] 2.8.12 (#83)
  cli/bin/lib/spawn.js
Labels: cli, wip

[fix] schema correct
  src/lib/route.js
Labels: src, wip

[fix] schema correct (#87)
  src/lib/route.js
Labels: src, wip

[feat] add checker key schema
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: src, types, wip

[feat] add checker key schema (#89)
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: src, types, wip

[feat] pass in launcher
  cli/models/checker.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, wip

[feat] pass in launcher (#91)
  cli/models/checker.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, wip

[publish] 2.10.13 (#88)
  cli/models/checker.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, wip

[fix] double warn
  src/lib/debug.js
Labels: src, wip

[fix] double warn (#94)
  src/lib/debug.js
Labels: src, wip

[fix] shema key
  src/lib/route.js
Labels: src, wip

[fix] shema key (#100)
  src/lib/route.js
Labels: src, wip

[fix] before checkers
  cli/models/aob.config.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[fix] before checkers (#104)
  cli/models/aob.config.js
  src/lib/debug.js
  src/lib/route.js
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[feat] add handler
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/handler.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/handler.js
  cli/models/handler.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/handler.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[feat] add handler (#105)
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/handler.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/handler.js
  cli/models/handler.js
  src/lib/anotherback.js
  src/lib/debug.js
  src/lib/route.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/handler.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, wip

[feat] add static
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/spawn.js
  cli/models/aob.config.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[feat] add static (#107)
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/spawn.js
  cli/models/aob.config.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
Labels: cli, src, types, package, wip

[fix] ctx schema
  src/lib/ctx.js
  src/lib/debug.js
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[fix] ctx schema (#108)
  src/lib/ctx.js
  src/lib/debug.js
  types/src/lib/ctx.d.ts
Labels: src, types, wip

[feat] track request
  cli/bin/launcher.js
  cli/models/aob.config.js
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug/override.js
  src/lib/debug/upstream.js
  src/lib/route.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, wip

[feat] track request (#110)
  cli/bin/launcher.js
  cli/models/aob.config.js
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug/override.js
  src/lib/debug/upstream.js
  src/lib/route.js
  types/cli/lib/config.d.ts
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, wip

[publish] 2.13.17 (#95)
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/handler.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/handler.js
  cli/models/aob.config.js
  cli/models/handler.js
  package-lock.json
  package.json
  src/lib/anotherback.js
  src/lib/ctx.js
  src/lib/debug/override.js
  src/lib/debug/upstream.js
  src/lib/route.js
  types/cli/directories.d.ts
  types/cli/index.d.ts
  types/cli/lib/config.d.ts
  types/cli/lib/handler.d.ts
  types/src/lib/anotherback.d.ts
  types/src/lib/ctx.d.ts
Labels: cli, src, types, package, wip

[feat] add linter
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/plugins.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/lib/config.js
  cli/models/.eslintrc.json
  cli/models/aob.config.js
  package.json
  types/cli/lib/config.d.ts
Labels: cli, types, package, wip

[feat] add linter (#111)
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/plugins.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/lib/config.js
  cli/models/.eslintrc.json
  cli/models/aob.config.js
  package.json
  types/cli/lib/config.d.ts
Labels: cli, types, package, wip

fix config
  cli/bin/lib/initDir.js
Labels: cli, wip

.github/labeler.yml:

cli:
  - "cli/**/*"

src:
  - "src/**/*"

types:
  - "types/**/*"

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "README.md"
  - "CODEOFCONDUCT.md"
  - "CONTRIBUTING.md"
