Repository anotherback/anotherback, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, dist, types, package, cicd, wip, md

[github] add new eslint rules
  .eslintrc.json
  cli/bin/launcher.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/plugins.js
  cli/directories.js
  cli/models/aob.config.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/pathCorrector.js
  dist/lib/route.js
  dist/lib/token.js
Labels: cli, dist, wip

[github] add new eslint rules (#29)
  .eslintrc.json
  cli/bin/launcher.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/plugins.js
  cli/directories.js
  cli/models/aob.config.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/pathCorrector.js
  dist/lib/route.js
  dist/lib/token.js
Labels: cli, dist, wip

[feat] new system sender
  cli/bin/lib/launch/access.js
  cli/lib/access.js
  cli/models/access.js
  cli/models/checker.js
  cli/models/sender.js
  dist/index.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/route.js
  dist/lib/sender.js
  package.json
  types/cli/lib/access.d.ts
  types/cli/lib/checker.d.ts
  types/dist/lib/anotherback.d.ts
  types/dist/lib/ctx.d.ts
Labels: cli, dist, types, package, wip

[feat] new system sender (#30)
  cli/bin/lib/launch/access.js
  cli/lib/access.js
  cli/models/access.js
  cli/models/checker.js
  cli/models/sender.js
  dist/index.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/route.js
  dist/lib/sender.js
  package.json
  types/cli/lib/access.d.ts
  types/cli/lib/checker.d.ts
  types/dist/lib/anotherback.d.ts
  types/dist/lib/ctx.d.ts
Labels: cli, dist, types, package, wip

[fix] await sender
  dist/lib/route.js
Labels: dist, wip

[fix] order reg params and prefix
  cli/bin/lib/spawn.js
  dist/lib/anotherback.js
Labels: cli, dist, wip

[feat] add notfound controller
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/notfound.js
  cli/directories.js
  cli/models/notfound.js
  types/dist/lib/anotherback.d.ts
Labels: cli, types, wip

[fix] await sender (#31)
  dist/lib/route.js
Labels: dist, wip

[fix] order reg param and prefix (#32)
  cli/bin/lib/spawn.js
  dist/lib/anotherback.js
Labels: cli, dist, wip

[feat] add notfound controller (#33)
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/notfound.js
  cli/directories.js
  cli/models/notfound.js
  types/dist/lib/anotherback.d.ts
Labels: cli, types, wip

[fix] remove senderctx from d.ts
  types/dist/index.d.ts
Labels: types, wip

[fix] remove senderctx from d.ts (#34)
  types/dist/index.d.ts
Labels: types, wip

.github/labeler.yml:

cli:
  - "cli/**/*"

dist:
  - "dist/**/*"

types:
  - "types/**/*"

package: 
  - "package.json"

cicd:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "README.md"
  - "CODEOFCONDUCT.md"
  - "CONTRIBUTING.md"
