Repository anotherback/anotherback, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, dist, types, package, cicd, wip, md

.github/labeler.yml:

cli:
  - "cli/**/*"

dist:
  - "dist/**/*"

types:
  - "types/**/*"

package: 
  - "package.json"

cicd:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "README.md"
  - "CODEOFCONDUCT.md"
  - "CONTRIBUTING.md"

[md] CONTRIBUTING.md
  CONTRIBUTING.md
Labels: wip, md

[md] CONTRIBUTING.md (#2)
  CONTRIBUTING.md
Labels: wip, md

[break] first version
  .github/workflows/rename-pr-title-main.yml
Labels: cicd, wip

fix(check-pr-tilte-to-develop.json): fix bad wordings
  .github/check-pr-tilte-to-develop.json
Labels: cicd, wip

fix(check-pr-tilte-to-develop.json): fix bad wordings (#6)
  .github/check-pr-tilte-to-develop.json
Labels: cicd, wip

[break] first version (#4)
  .github/workflows/rename-pr-title-main.yml
Labels: cicd, wip

[fix] add missing types
  types/cli/directories.d.ts
  types/cli/index.d.ts
Labels: types, wip

[fix] add missing types (#8)
  types/cli/directories.d.ts
  types/cli/index.d.ts
Labels: types, wip

fix(plugins.js): fix iteration
  cli/bin/lib/plugins.js
Labels: cli, wip

fix(plugins.js): fix iteration (#10)
  cli/bin/lib/plugins.js
Labels: cli, wip

[fix] Conflit d'import config
  cli/bin/index.js
  cli/bin/launcher.js
Labels: cli, wip

[fix] optimisation de la génération des tools
  dist/lib/route.js
  dist/lib/tool.js
Labels: dist, wip

[fix] Conflit d'import config (#12)
  cli/bin/index.js
  cli/bin/launcher.js
Labels: cli, wip

[fix] optimisation de la génération des tools (#13)
  dist/lib/route.js
  dist/lib/tool.js
Labels: dist, wip

[feat] ajoute des sender.
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/sender.js
  cli/models/sender.js
  dist/lib/route.js
  dist/lib/token.js
  dist/lib/tool.js
  types/cli/index.d.ts
  types/cli/lib/sender.d.ts
  types/dist/lib/tool.d.ts
Labels: cli, dist, types, wip

[md] ajout d'un warning pour le nom des commit
  CONTRIBUTING.md
Labels: wip, md

[feat] ajout des senders. (#15)
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/sender.js
  cli/models/sender.js
  dist/lib/route.js
  dist/lib/token.js
  dist/lib/tool.js
  types/cli/index.d.ts
  types/cli/lib/sender.d.ts
  types/dist/lib/tool.d.ts
Labels: cli, dist, types, wip

[md] ajout d'un warning pour le nom des commit (#16)
  CONTRIBUTING.md
Labels: wip, md

[fix] doc token keys
  types/dist/lib/token.d.ts
Labels: types, wip

[fix] tool pass object
  dist/lib/tool.js
  types/dist/lib/tool.d.ts
Labels: dist, types, wip

[gitflow] update eslint
  .editorconfig
  .eslintrc.json
  .github/ISSUE_TEMPLATE/demande-de-fonctionnalité.md
  .vscode/extensions.json
  .vscode/settings.json
Labels: cicd, wip

key null to object
  dist/lib/tool.js
Labels: dist, wip

[fix] tool pass object (#18)
  dist/lib/tool.js
  types/dist/lib/tool.d.ts
Labels: dist, types, wip

[gitflow] update eslint (#19)
  .editorconfig
  .eslintrc.json
  .github/ISSUE_TEMPLATE/demande-de-fonctionnalité.md
  .vscode/extensions.json
  .vscode/settings.json
Labels: cicd, wip

[fix] doc token keys (#17)
  types/dist/lib/token.d.ts
Labels: types, wip

[fix] declaration tool pass key
  types/dist/lib/tool.d.ts
Labels: types, wip

[gitflow] cancel rm readme
  .github/workflows/publisher.yml
Labels: cicd, wip

[fix] declaration tool pass key (#20)
  types/dist/lib/tool.d.ts
Labels: types, wip

[gitflow] cancel rm readme (#21)
  .github/workflows/publisher.yml
Labels: cicd, wip

[gitflow] add eslint rule array'
  .eslintrc.json
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/convertor.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/import.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/launch/token.js
  cli/bin/lib/plugins.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/models/access.js
  cli/models/aob.config.js
  cli/models/checker.js
  cli/models/method.js
  cli/models/register.js
  cli/models/sender.js
  cli/models/token.js
  dist/lib/anotherback.js
  dist/lib/tool.js
Labels: cli, dist, wip

[gitflow] add eslint rule array (#22)
  .eslintrc.json
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/convertor.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/import.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/launch/token.js
  cli/bin/lib/plugins.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/models/access.js
  cli/models/aob.config.js
  cli/models/checker.js
  cli/models/method.js
  cli/models/register.js
  cli/models/sender.js
  cli/models/token.js
  dist/lib/anotherback.js
  dist/lib/tool.js
Labels: cli, dist, wip

[md] edit CONTRIBUTING
  CONTRIBUTING.md
Labels: wip, md

[md] edit CONTRIBUTING (#23)
  CONTRIBUTING.md
Labels: wip, md

[github] edit publisher
  .github/CODEOWNERS
  .github/check-pr-tilte-to-develop.json
  .github/pull_request_template.md
  .github/workflows/publisher.yml
Labels: cicd, wip

[github] edit publisher (#25)
  .github/CODEOWNERS
  .github/check-pr-tilte-to-develop.json
  .github/pull_request_template.md
  .github/workflows/publisher.yml
Labels: cicd, wip

[publish] 1.1.5 (#26)
  .github/CODEOWNERS
  .github/check-pr-tilte-to-develop.json
  .github/pull_request_template.md
  .github/workflows/publisher.yml
  CONTRIBUTING.md
Labels: cicd, wip, md

[break] add context and launcher
  cli/bin/launcher.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/sender.js
  cli/lib/access.js
  cli/lib/checker.js
  cli/models/access.js
  cli/models/checker.js
  cli/models/method.js
  cli/models/register.js
  cli/models/sender.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/route.js
  types/cli/lib/access.d.ts
  types/cli/lib/checker.d.ts
  types/cli/lib/method.d.ts
  types/cli/lib/sender.d.ts
  types/dist/lib/anotherback.d.ts
  types/dist/lib/ctx.d.ts
Labels: cli, dist, types, wip

add static property of context
  dist/index.js
  dist/lib/tool.js
  types/dist/index.d.ts
  types/dist/lib/anotherback.d.ts
  types/dist/lib/ctx.d.ts
  types/dist/lib/tool.d.ts
Labels: dist, types, wip

correct property ctx
  types/dist/index.d.ts
Labels: types, wip

[break] add context and launcher (#28)
  cli/bin/launcher.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/sender.js
  cli/lib/access.js
  cli/lib/checker.js
  cli/models/access.js
  cli/models/checker.js
  cli/models/method.js
  cli/models/register.js
  cli/models/sender.js
  dist/index.js
  dist/lib/anotherback.js
  dist/lib/ctx.js
  dist/lib/route.js
  dist/lib/tool.js
  types/cli/lib/access.d.ts
  types/cli/lib/checker.d.ts
  types/cli/lib/method.d.ts
  types/cli/lib/sender.d.ts
  types/dist/index.d.ts
  types/dist/lib/anotherback.d.ts
  types/dist/lib/ctx.d.ts
  types/dist/lib/tool.d.ts
Labels: cli, dist, types, wip
