Repository anotherback/anotherback, pull requests merged in 2023-01, with the labels that each got.

#2 [md] CONTRIBUTING.md
  CONTRIBUTING.md
Labels: md

#6 [gitflow] Fix PR title checker
  .github/check-pr-tilte-to-develop.json
Labels: cicd

#8 [fix] add missing types
  types/cli/directories.d.ts
  types/cli/index.d.ts
Labels: types

#10 [fix] Fix plugins iteration
  cli/bin/lib/plugins.js
Labels: cli

#12 [fix] Conflit d'import config
  cli/bin/index.js
  cli/bin/launcher.js
Labels: cli

#13 [fix] optimisation de la génération des tools
  dist/lib/route.js
  dist/lib/tool.js
Labels: dist

#14 [gitflow] add eslint
  .editorconfig
  .eslintrc.json
  .github/workflows/eslint.yml
  .github/workflows/publisher.yml
  .vscode/extensions.json
  .vscode/settings.json
  cli/bin/index.js
  cli/bin/launcher.js
  cli/bin/lib/convertor.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/access.js
  cli/bin/lib/launch/checker.js
  cli/bin/lib/launch/import.js
  cli/bin/lib/launch/method.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/token.js
  cli/bin/lib/plugins.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/access.js
  cli/lib/checker.js
  cli/lib/config.js
  cli/lib/method.js
  cli/lib/register.js
  cli/lib/registerOptions.js
  cli/lib/token.js
  cli/models/access.js
  cli/models/aob.config.js
  cli/models/checker.js
  cli/models/method.js
  cli/models/register.js
  cli/models/token.js
  dist/index.js
  dist/lib/anotherback.js
  dist/lib/pathCorrector.js
  dist/lib/route.js
  dist/lib/token.js
  dist/lib/tool.js
  package-lock.json
  package.json
  types/cli/directories.d.ts
Labels: cicd, types, cli, dist, package

#15 [feat] ajout des sender.
  cli/bin/launcher.js
  cli/bin/lib/initDir.js
  cli/bin/lib/launch/register.js
  cli/bin/lib/launch/sender.js
  cli/bin/lib/spawn.js
  cli/directories.js
  cli/index.js
  cli/lib/sender.js
  cli/models/sender.js
  dist/lib/route.js
  dist/lib/token.js
  dist/lib/tool.js
  types/cli/index.d.ts
  types/cli/lib/sender.d.ts
  types/dist/lib/tool.d.ts
Labels: types, cli, dist

#16 [md] Ajout d'un warning pour le nom des commit
  CONTRIBUTING.md
Labels: md
